body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1000px;
  margin: auto;
  background: #ffffff;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #005baa;
  text-align: center;
  margin: 0 0 20px;
}

table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #005baa;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
 
button {
  padding: 10px;
  background-color: #005baa;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 20px;
}

select {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 25px;
}

input[type="submit"]:hover {
  background-color: #003f7d;
}

nav {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

nav a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #005baa;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #003f7d;
}

.error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

p {
	text-align: center;
}
}
